[project]
name = "cvxsimulator"
version = "0.0.0"
description = "Simple simulator for investors"
authors = [{name = "Thomas Schmelzer", email = "thomas.schmelzer@gmail.com"}]
readme = "README.md"
repository = "https://github.com/cvxgrp/simulator"
requires-python = ">=3.10"
dependencies = [
    "cvxpy-base>=1.6.0",
    "numpy>=2.1.3",
    "pandas>=2.2.3",
    "plotly>=5.0.0",
]

[project.urls]
repository = "https://github.com/cvxgrp/simulator"

[project.optional-dependencies]
quantstats = [
  "quantstats",
  "ipython",
]

[dependency-groups]
dev = [
    "pytest-cov>=6.0.0",
    "pytest>=8.3.3",
    "pre-commit>=4.0.1",
    "clarabel>=0.9.0",
    "loguru",
    "tinycta"
]

[tool.ruff]
select = ["E", "F", "I"]
line-length = 120
target-version = "py310"
exclude = [
    "*__init__.py"
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.wheel]
packages = ["cvx"]

[tool.deptry.per_rule_ignores]
DEP002 = ["cvxpy-base", "ipython", "quantstats"]
