name: "book"

on:
- push

jobs:
  marimo:
    runs-on: "ubuntu-latest"
    steps:
      - uses: cvxgrp/.github/actions/uv/marimo@main

  sphinx:
    runs-on: "ubuntu-latest"
    steps:
      - uses: cvxgrp/.github/actions/uv/sphinx@main

  pdoc:
    runs-on: "ubuntu-latest"
    steps:
      - uses: cvxgrp/.github/actions/uv/pdoc@main

  test:
    runs-on: "ubuntu-latest"
    steps:
      - uses: cvxgrp/.github/actions/uv/coverage@main

  jupyter:
    runs-on: "ubuntu-latest"
    steps:
      - uses: cvxgrp/.github/actions/uv/jupyter@main

  book:
    runs-on: "ubuntu-latest"
    needs: [test, sphinx, pdoc, jupyter, marimo]

    permissions:
      contents: write

    steps:
      - uses: cvxgrp/.github/actions/book@main
